body, html{
width: 100%;
height: 100%;
font-family: "Arial", sans-serif;
background-color:  white;
text-align: center;
}
.grid-container{
	display: grid;
	justify-content: center;
	height: 300px;
	width: 480px;

}
a{
	text-decoration: none;
}
.gg-content{

	background-color: #E1DFD0;
	padding: 5px;
	height: 90px;
}

#myBtton{
	background-color: #1DC9A4;
}
h1{
	color: #E3120B;
}
h2{
	color:#D0E1E1;
}